* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Newsreader', serif;
}

section {
  height: 100vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background: #f6d000ff;
}

.two {
  background: #9ade6e;
}

.three {
  background: #fa7968;
}
